@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');


:root{
--Dark-Gray: hsl(0, 0%, 63%);
--Black: hsl(0, 0%, 0%);
--White: hsl(0, 0%, 100%);
--Very-Dark-Gray: hsl(0, 0%, 27%);

--padding-rl-mobile: 2rem;
--padding-ud-mobile: 4rem;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'League Spartan', sans-serif;
    position: relative;
    min-height: 100vh;
}


.navbar{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    position: relative;
    z-index: 1;
}
.navbar.active{
    background-color: white;
}
.toggle-btn{
    position: absolute;
    left: var(--padding-rl-mobile);
    background-color: transparent;
    border: none;
}
nav{
    display: none
}
nav.active{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}
nav ul{
    list-style: none;
    display:flex;
}
nav ul li{
    margin-left: var(--padding-rl-mobile);
    text-transform: lowercase;
}
.logo-img{
    display: none;
}
.logo-img.active{
    display: block;
}


main{
    position: absolute;
    top: 0;
    left: 0;
}
.hero-slider{
    position: relative;
    height: 360px;
}
.slider-img{

    object-fit: cover;
}

.slider-btns{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
}
.slider-btn{
    background-color: var(--Black);
    border: none;
    padding: 1rem 1.5rem;
}
.slider-arrow{
    height: 18px;
}
.hero-text{
    padding: var(--padding-ud-mobile) var(--padding-rl-mobile);
}
h2{
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
p{
    color: var(--Dark-Gray);
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
}

.shop-btn{
    margin-top: 2rem;
    border: none;
    background-color: transparent;
}
span{
    text-transform: uppercase;
    letter-spacing: 12px;
    font-weight: 700;
}
.shop-arrow{
    margin-left: 1rem;
}

@media screen and (min-width: 700px){
    header{
        justify-content: flex-start;
        width: fit-content;
        height: auto;
    }
    .toggle-btn{
        visibility:hidden;
    }
    .navbar{
        margin-left: 4rem;
    }
    .logo-img.active{
        margin-right: 1rem;
    }
    nav{
        display: block;
        color: var(--White);
    }
    #hero{
        display: flex;
        height: auto;
    }
    .hero-slider{
        height: 534px;
        width: 60vw;
    }
    .slider-btns{
        right: -140px;
    }
    .slider-btn{
        width: 70px;
        padding: 1.6rem 1.5rem;
    }
    .slider-arrow {
        height: auto;
    }
    .hero-text{
        width: 40vw;
    }
    .slider-img{
        content: url("./images/desktop-image-hero-1.jpg");
    }

    .hero-text{
        padding: 7rem;
    }
    h2{
        font-size: 2.5rem;
    }
    
    .shop-btn{
        margin-top: 1rem;
    }
}